.app__header{
  padding: 15px;
  object-fit: contain;
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  z-index: 1;
  position: sticky;
  top:0;
  background-color: #fafafa;
  justify-content: space-between;
}
.app__image{
  width: 200px;
  object-fit: contain;
  padding: 20px;
}
.app__content{
  width: 10%;
}